.k_pd-vfajbd {
 margin-bottom:6px
}
.q_pd-vfai7w {
 margin-bottom:-6px
}
.r_pd-vfai7z {
 padding-bottom:6px
}
._5v3q .k_pd-vfajbd {
 margin-bottom:11px
}
._5v3q .k_pd-vfajbd.t_pd-vfebui {
 margin-bottom:-1px
}
._5v3q .k_pd-vfajbd.t_pd-vfebui .i_pd-vfebul {
 padding-bottom:3px
}
._5v3q ._5pa- .k_pd-vfajbd {
 margin-bottom:7px
}
.a_pd-vfapik {
 border-bottom:1px solid #e9e9e9;
 color:#7f7f7f;
 display:block;
 font-size:13px;
 margin:-18px 0 14px;
 padding:13px 0 13px
}
._5v3q .a_pd-vfapik {
 border-bottom-color:#e5e5e5;
 color:#90949c;
 line-height:15px;
 margin:-12px 0 12px;
 padding:10px 23px 10px 0
}
._5v3q .a_pd-vfapik.y_pd-vfflyr,
._1s31.y_pd-vfflyr .a_pd-vfapik {
 color:#616770
}
._5v3q .a_pd-vfapik.i_pd-vfflyt,
._1s31.i_pd-vfflyt .a_pd-vfapik {
 font-size:13px
}
._3ccb .a_pd-vfapik {
 font-size:12px;
 padding-bottom:9px;
 padding-top:11px
}
._49gl .a_pd-vfapik {
 display:none
}
.a_pd-vfapik .e_pd-vffoh4 {
 margin:0;
 padding:10px 0 10px 12px
}
._6q1a .x_pd-vf88t4.a_pd-vfapik {
 align-items:center;
 display:flex
}
._6q1a .x_pd-vf88t4 .o_pd-vf88su {
 font-size:14px;
 line-height:16px
}
._6q1a .x_pd-vf88t4 .o_pd-vf88su .profileLink {
 font-weight:bold
}
._6q1a .x_pd-vf88t4 .s_pd-vf88sx {
 align-items:center;
 background-color:#42b72a;
 border-radius:50%;
 box-shadow:0 2px 4px 0 rgba(0, 0, 0, .1);
 display:inline-flex;
 flex-shrink:0;
 height:24px;
 justify-content:center;
 margin-right:8px;
 width:24px
}
#bootloader_TvoAA {
 height:42px;
}
.bootloader_TvoAA {
 display:block!important;
}
